@import "@mdi/font/css/materialdesignicons.min.css";
@import "./variables.scss";
@import "flag-icons/css/flag-icons.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-lato;
  font-size: $font-size-regular;
  background-color: $primary-color;
  color: $text-white;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 8px;
}

@font-face {
  font-family: $font-gothic;
  src: url("./fonts/Gothic3.ttf") format('truetype');
}
