@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-absolute-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center-vertically {
  display: flex;
  align-items: center;
}

@mixin center-horizontally {
  display: flex;
  justify-content: center;
}

@mixin full-size {
  width: 100%;
  height: 100%;
}

@mixin card-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
